.category{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: $bg-sy;
    gap: 0px;
    overflow: auto;
    &__logo{
        position: relative;
        right: 200px;
    }
    &__item{
        display: flex;
        font-display: column;
        align-items: center;
        gap: 10px;
        img{
            width: 40px;
            height: 40px;
        }
        span{
            white-space: nowrap;
        }

}
}
